# Climate Analysis and Exploration

## * Import Dependencies

In [3]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [4]:
import numpy as np
import pandas as pd
import datetime as dt

In [5]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import create_engine, inspect, Column, Integer, String

In [6]:
# Start connection
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

# Create a session
session = Session(engine)

In [7]:
inspector = inspect(engine)

In [8]:
# List all tables
inspect(engine).get_table_names()

['measurement', 'station']

In [9]:
# Using the inspector to print the column names within the 'dow' table and its types
columns = inspector.get_columns('measurement')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [10]:
# Using the inspector to print the column names within the 'dow' table and its types
columns = inspector.get_columns('station')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [11]:
# Declare a Base using `automap_base()`
Base = automap_base()

# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [13]:
Base.classes.keys()

['measurement', 'station']

In [17]:
# Assign the measurement class to a variable called `Measurement`
Measurement = Base.classes.measurement
Measurement

sqlalchemy.ext.automap.measurement

In [18]:
# Query table and get first row
first_row = session.query(Measurement).first()

# Print row as a dictionary
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1af66e11730>,
 'tobs': 65.0,
 'id': 1,
 'date': '2010-01-01',
 'prcp': 0.08,
 'station': 'USC00519397'}

In [29]:
Measure_data = session.query(Measurement.date, Measurement.prcp).all()

In [28]:
session.query(Measurement.date).count()

19550

In [ ]:
# Assign the station class to a variable called `Station`
Station = Base.classes.station

In [19]:
# Query table and get first row
first_row = session.query(Station).first()

# Print row as a dictionary
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1af636c7b50>,
 'station': 'USC00519397',
 'latitude': 21.2716,
 'elevation': 3.0,
 'name': 'WAIKIKI 717.2, HI US',
 'id': 1,
 'longitude': -157.8168}